html, body{
	margin: auto;
	padding:0;
}
.h1{ 
	font-family: arial;
	font-size: 80px;
	text-transform: uppercase;
 }
.p {
	font-family: arial;
	font-size: 14px;
	padding: 10px 10px;
}

.container{
	margin:0px;
	padding: 0 10px;
	max-width:1000px;
}

div.img{
	margin 5px
	border:1px solid #ccc;
	width: 480px;
}


div.img img{
	width: 100%;
	overflow: hidden;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.crop {
 height: 350px;
 width: 500px;
 overflow: hidden;
}

.btn{
  background-color: #AB82FF;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 20px;
  text-decoration: none;
  text-transform: uppercase;
  }
	
div.loca{ 
	padding: 50px;
	text-align: center;
}


img
{
display: block;
margin-left: auto;
margin-right: auto
padding: 40px 40px;
}
